<link rel="stylesheet" href="/stylesheets/landing.css"/>
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1>hello, <%= user ? user.profile.name : "friend" %></h1>

<h1>Friend Code:</h1>


</main>

<%- include('../partials/footer') %>
