  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body >
  <nav>
    <img src="../../assets/back-btn.png" alt="">
    <a href="/">
      <div class="logo-pic" class="">FLYy</div>
    </a>
      <nav class="primary-header">
        <ul role="list" class="nav-list">
          <li><a href="/flights">myFlights</a></li>
          <li><a href="/friends">myFriends</a></li>
          <li><a href="/journey">myJourney</a></li>
        </ul>
    </nav>
    <% if (user) { %>
      <a href="/profiles" class="profile-first-name">

        <h1 class="profile-first-name"><%= user ? user.profile.name.split(' ').slice(0, -1) : "";
        %></h1>
      </a>
      <% if (user?.profile.avatar) { %>
        <a href="/profiles">
          <img
          class="profile-pic"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          />
        </a>
        <% } %>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
