<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>friendsss</h1>

  <div>
    <a href="friends/new">click here to add a new friend.</a>
  </div>

  


</main>

<%- include('../partials/footer') %>
