<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Add a new friend</h1>

  <div>

  </div>




  <form action="/profile" id="new-friend" method="POST">
    <label for="friends">Friend ID Code:</label>
    <input type="string" id="new-friend" name="friends">
    <button type="submit">Add Friend</button>
</form>

</main>

<%- include('../partials/footer') %>
