<link rel="stylesheet" href="/stylesheets/landing.css"/>
<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>



<h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <section class="main-container">
    <a href="/flights">
      <button>MyFlights</button>
    </a>
      <div class="line"></div>
      <a href="/friends">
        <button>MyFriends</button>
      </a>
      <div class="line"></div>
    <a href="/journey">
    <button>MyJourney</button>
    </a>
  </section>

</main>

<%- include('./partials/footer') %>
