<link rel="stylesheet" href="/stylesheets/landing.css"/>
<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<section class="main-container">
    <% if (user) { %>
    <a href="/flights">
      <button>MyFlights</button>
    </a>
      <div class="line"></div>
      <a href="/friends">
        <button>MyFriends</button>
      </a>
      <div class="line"></div>
        <a href="/profiles/<%= user.profile._id %> ">
          <button>MyJourney</button>
          </a>
          <% } else { %>
            <h1>Please Log In or Create Account</h1>
            <% } %>
        </section>

</main>

<%- include('./partials/footer') %>
