<link rel="stylesheet" href="/stylesheets/landing.css" /><%- include('./partials/html-head') %>
<%- include('./partials/nav') %>



  <section class="main-container">
    <a href="/myFlights">
      <button>MyFlights</button>
    </a>
      <div class="line"></div>
      <a href="/myFriends">
        <button>MyFriends</button>
      </a>
      <div class="line"></div>
    <a href="/myJourney">
    <button>MyJourney</button>
    </a>
  </section>

</main>

<%- include('./partials/footer') %>
