<%- include('../../partials/html-head') %>
<%- include('../../partials/nav') %>

<main>
  <h1>Add a new friend</h1>

  <div>

  </div>


  <form action="/friends/updateFriendList?_method=PATCH" id="new-friend" method="POST">
    <label for="friends">Friend ID Code:</label>
    <input type="string" placeholder="1234-5678-9012" id="new-friend" name="friends">
    <button class="add-btn"><img class="add-btn" src="/assets/add-btn.png" alt=""></button>
</form>

</main>

<%- include('../../partials/footer') %>
