
.main-flight-container, .main-journey-container, .main-friend-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
  background-color: var(--clr-background-100)
}

.main-new-flight-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
  background-color: var(--clr-background-100);
  height: 100vh;
}

.lading-page-btns {
  border: none;
  background: none;
  font-size: var(--fs-900);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--clr-neutral-100);
}

.lading-page-btns:hover {
  color: var(--clr-accent-400);
}

.flight-list, .journey-list {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 100vh;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: var(--clr-accent-100);
  overflow-y: scroll;
}

.flight-card, .friend-flight-card {
  display: flex;
  flex-direction: column;
  width: 28em;
  height: 9em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid var(--clr-primary-400);
  align-items: stretch;
  justify-content: space-around;
  margin: .5em 0;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(5, 217, 255, 0.24) 0px 3px 8px;
}

.flight-card:hover, .journey-card:hover {
  cursor: pointer;
  background-color: lightblue;
}

.flight-card-content {
  display: flex;
  flex-direction: row;
  height: 8em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-900);
}



.flight-card-left, .journey-card-left {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: 10em;
  align-items: flex-end;
  justify-content: center;
  padding-right: 1em;
}

.flight-card-mid {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  width: 10em;
  align-items: center;
  justify-content: center;
}

.flight-card-right {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  width: 10em;
  align-items: center;
  justify-content: center;
}

.flight-card-date {
  font-size: var(--fs-700);
  font-weight: bold;
}

.flight-card-logo {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end;
  align-items: flex-end; */
  /* background-color: red; */
  text-align: end;
}

.flight-card-terminal {
  font-size: var(--fs-700);
}

.flight-card-link {
  text-decoration: none;
}


#new-flight {
  display: flex;
  flex-direction: column;
}


.show-flight {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--clr-neutral-900);
  font-size: var(--fs-900);
  align-content: left;
}


.flight-list-header {
  display: flex;
  /* border: .3em solid blue; */
  width: 28em;
  align-items: center;
  /* align-content: space-around; */
  justify-content: space-around;
}


/* ! Flight Details Box */

.flight-detail-container {
  height: 25em;
  width: 25em;
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(5, 217, 255, 0.1) 0px 20px 25px -5px, rgba(5, 217, 255, 0.04) 0px 10px 10px -5px;
  margin-bottom: 2.5em;
  padding: 1em;
}

.select-flight-to-view-more {
  font-size: var(--fs-700);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.flight-detail-bottom, .flight-detail-mid, .flight-detail-top {
  width: 100%;
  padding: .4em;

}

.flight-detail-edit-btn {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
  align-items: flex-start;
}

.flight-detail-top {
  background-color: var(--clr-primary-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: right; */
}

.flight-detail-airline {
  /* color: red; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 20%;
}

.flight-detail-mid {
  /* background-color: green; */
  display: flex;
  /* font-size: var(--fs-800); */
  gap: 1.5em;
  flex-direction: row;
  padding-bottom: 1em;
  justify-content: center;
}

.arrow-div {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-div > img {
  content: url("/assets/Arrow_right.png");
  height: 50%;
  margin: 0;
}

.flight-detail-airport-code {
  font-size: var(--fs-800);
}

.flight-detail-terminal {
  font-size: var(--fs-300);
}

.flight-detail-mid-departure, .flight-detail-mid-arrival{
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
}




.flight-detail-bottom {
  background-color: orange;
  display: flex;
  justify-content: space-around;
  /* align-items: flex-start; */
  gap: 25px;
  text-align: center;
}

.flight-detail-bottom-elements {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  width: 5em;
}

/* .flight-no-txt { */
  /* width: 70%; */
  /* font-size: var(--fs-300); */
/* } */

.flight-detail-bottom-bold {
  font-weight: bold;
}

.big-date {
  font-size: 5em;
  width: 75%;
  padding: .3em 0 .2em 0;
}


/* ! New Flight */

#new-flight {
  color: black;
}



/*! buttons */

.back {
  font-size: var(--fs-300);
  text-decoration: none;
  /* background: url(../../assets/back-btn.png); */
  /* display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  left: auto; */
}



.edit-btn {
  width: 2em;
  height: 2em;
  border: none;
  background: none;
}

.edit-btn > img:hover {
  content: url("/assets/edit-hover.png");
}


  .back-btn {
  width: 2em;
  height: 2em;
  border: none;
  background: none;
  /* border-radius: 35%; */
}

.back-btn > img:hover {
  content: url("/assets/left-arrow-hover.png");
}

.edit-btn-detials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.delete-btn {
  width: 1.8em;
  height: 2em;
  border: none;
  background: none;
  /* border-radius: 35%; */
}
.delete-btn:hover {
  content: url("/assets/trash-hover.png");

}

.add-btn {
  width: 2em;
  height: 2em;
  border: none;
  background: none;
  border-radius: 35%;
}
.add-btn:hover {
    content: url("/assets/add-btn-hover.png");
  
}

.landing-btn {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.landing-btn:hover {
  text-decoration: underline;
  color: var(--clr-primary-400);
}

.flights-bg-img{
  background-image: url(/assets/flight_photo_1.jpeg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 70%;
}

.flights-bg-img:hover {
  background-image: url(/assets/flight_photo_1.jpeg), linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-blend-mode: overlay;
}

.friends-bg-img{
  background-image: url(/assets/flight_photo_2.jpeg), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 48%;
}

.friends-bg-img:hover {
  background-image: url(/assets/flight_photo_2.jpeg), linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-blend-mode: overlay;
}

.journey-bg-img{
  background-image: url(/assets/flight_photo_3.png), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: 70%;
}

.journey-bg-img:hover {
  background-image: url(/assets/flight_photo_3.png), linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0));
  background-blend-mode: overlay;
}


/* ! Friends */

.friend-name-header {
  padding-left: .2em;
  text-align: center;
}

.friend-list-header {
  display: flex;
  /* border: .3em solid blue; */
  width: 28em;
  align-items: center;
  /* align-content: space-around; */
  justify-content: space-around;
}

.friend-code{
  text-align: center;
  font-size: var(--fs-800);
  width: 100%;
  border: 2px solid var(--clr-accent-400);
  background-color: var(--clr-background-100);
}

.friend-list {
  color: black;
}
.friend-card-link {
  text-decoration: none;
  display: flex;
  gap: 1em;
  color: var(--clr-neutral-900);
}

.friend-card-content {
  display: flex;
  flex-direction: row;
  font-size: var(--fs-700);
  /* background-color: red; */
}

.friend-card-content-name {
  text-decoration: none;
  border-right: 4px solid black;
}





/* ! Journey */

.journey-card {
  display: flex;
  flex-direction: row;
  width: 28em;  
  height: 9em;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid var(--clr-primary-400);
  align-items: stretch;
  justify-content: space-around;
  margin: .5em 0;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(5, 217, 255, 0.24) 0px 3px 8px;
  text-decoration: none;
}

.journey-card-link {
  display: flex;
  flex-direction: row;
  height: 8em;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-900);
}




.journey-card-left {
  display: flex;
  font-size: var(--fs-300);
  /* background-color: blue; */
}

.journey-card-right {
  /* background-color: red; */
  width: 5em;
}

.journey-card-date {
  font-size: var(--fs-800);
}

.jounrey-post {
  color: black
}

.friend-journey-date {
  font-size: var(--fs-800);
}

.journey-card-section, .flight-list {
  height: 90vh;
}

.detail-card-right {
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 3em;
  width: 25em;
}

#journeyPost {
  width: 80%;
  height: 50%;
}

/* ! New Flight */

.new-flight-card {
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(5, 217, 255, 0.24) 0px 3px 8px;
  border-radius: 15px;
  margin: 1em;
  padding: 0 1em;
  color: black;
  margin-bottom: 25em;
}

label {
  padding-top: .6em;
}


/* ! Nav Bar */



.logo-pic {
  /* background-image: url("../images/flly_logo.png"); */
  height: 70px;
  /* width: 1000px; */
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-pic > img {
  max-height: 90%;
}

/* ! Edit Flight Detais */

.edit-flight-details-container {
  background-color: red;
  width: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  width: 100vw;
}

#edit-flight {
  display: flex;
  flex-direction: column;
}

.edit-flight-details-form {
  background-color: blue;
}

.edit-flight-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-flight-top > .back-btn {
  margin-right: 1em;
}

.bottom-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.6em;
}