<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>testttttt</h1>
  <h2>myFlights PAge</h2>
  
  <a href="/myFlights/new">

    <button>Add Flight</button>
  </a>

</main>

<%- include('../partials/footer') %>
