<link rel="stylesheet" href="/stylesheets/elements.css">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="main-new-flight-container">
  
  <div class="new-flight-card">
    <button class="back-btn" onclick="window.history.back()">
      <img class="back-btn" src="../../public/assets/back-btn.png" alt="back-btn">
    </button>
    <h1>Add a new flight</h1>
  <form action="/flights" id="new-flight" method="POST">
    <label for="flight-date">Date:</label>
    <input type="date" required id="flight-date" name="flightDate">

    <label for="flight-no">Flight Number:</label>
    <input type="number" required placeholder="312" id="flight-no" name="flightNo">

    <label for="airline">Airline:</label>
    <select id="airline" name="airline">
      <option value="American Airlines">American Airlines</option>
      <option value="Delta Air Lines">Delta Air Lines</option>
      <option value="United Airlines">United Airlines</option>
      <option value="Southwest Airlines">Southwest Airlines</option>
      <option value="Alaska Airlines">Alaska Airlines</option>
      <option value="JetBlue">JetBlue</option>
      <option value="Spirit Airlines">Spirit Airlines</option>
      <option value="Frontier Airlines">Frontier Airlines</option>
      <option value="Hawaiian Airlines">Hawaiian Airlines</option>
    </select>

    <label for="departure-airport">Departing Airport:</label>
    <input type="text" required placeholder="JFK" id="departure-airport" maxlength="3" name="departureAirport">
    
    <label for="departure-time">Departing Time:</label>
    <input type="datetime-local" required id="departure-time" name="departureTime">
    
    <label for="departure-Terminal">Departing Terminal:</label>
    <input type="text" placeholder="5" required id="departure-time" name="departureTerminal">
    
    <label for="arrival-airport">Arriving Airport:</label>
    <input type="text" placeholder="LAX" required id="arrival-airport" maxlength="3" name="arrivalAirport">
    
    
    <label for="arrival-time">Arrival Time:</label>
    <input type="datetime-local" required id="arrival-time" name="arrivalTime">
    
    <label for="arrival-Terminal">Departing Terminal:</label>
    <input type="text" placeholder="4" required id="arrival-Terminal" name="arrivalTerminal">
    
    <button type="submit">Add MyFlight:<img src="../../public/assets/back-btn.png"> </button>

  </form>

</div>

</main>

<%- include('../partials/footer') %>
